{{if .HasData}}
<table>
    <thead>
        <tr>
            <th>Sanger Sample ID</th>
            <th>Supplier Name</th>
            <th>Manifest Created</th>
            <th>Plate/Tube</th>
            <th>Library Time</th>
            <th>Run ID</th>
            <th>Platform</th>
            <th>Sequencing Time</th>
            <th>QC Pass</th>
        </tr>
    </thead>
    <tbody>
        {{if .Samples}}
        {{range .Samples}}
        <tr>
            <td>{{.SangerSampleID}}</td>
            <td>{{.SupplierName}}</td>
            <td>{{if .ManifestCreated}}{{.ManifestCreated.Format "2006-01-02"}}{{end}}</td>
            <td>{{.LabwareHumanBarcode}}</td>
            <td>{{if .LibraryTime}}{{.LibraryTime}}{{else}}-{{end}}</td>
            <td>{{.RunID}}</td>
            <td>{{.Platform}}</td>
            <td>{{if .SequencingTime}}{{.SequencingTime}}{{else}}-{{end}}</td>
            <td>{{.QCPass}}</td>
        </tr>
        {{end}}
        {{else}}
        <tr>
            <td colspan="9">No samples found</td>
        </tr>
        {{end}}
    </tbody>
</table>
{{else}}
<div class="instruction-box">
    Please select a Faculty Sponsor and Study to view sample data.
</div>
{{end}}